Flask>=2.0
Flask-Cors>=3.0.8
geoip2>=4.0
gunicorn>=19.9.0
Jinja2
MarkupSafe
maxminddb>=1.4.1
privex-helpers[full]>=3.0
privex-loghelper>=1.0.5
markdown>=3.0.1
python-dotenv
redis>=3.3
requests>=2.2
pyyaml
rich
accept-types
aiohttp>=3.7.4
